@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: white;
}
::-webkit-scrollbar-track {
    background: black;
}
@font-face {
    font-family: Vandalism;
    src: url(./Components/Assets/Vandalism.ttf);
}
@layer components {
    .background {
        background-image: url(./Components/Assets/agccoverrr.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .dim-background::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
    }
    .font {
        font-family: Vandalism;
    }
}